.profile {
  background-color: white;
  padding: 10px;
}
.description {
  text-align: center;
}

.name {
  font-weight: 700;
}

.tag {
  color: darkgrey;
}
.location {
  color: darkgrey;
}
.stats {
  list-style: none;
}
